<div id="postContainer" class="flex">
    {{#each posts}}
    <div class="post" id="{{id}}">
        <div class="homePostHeader flex">
            <h1>{{title}}</h1>
            <h1>{{formatDate createdAt}}</h1>
            <h1>{{user.user_name}}</h1>
        </div> 
        <div></div>
        <div></div>
    </div>
    {{/each}}
</div>

{{#if loggedIn}}
<script src="./js/viewPost.js"></script>
{{/if}}
