<div>
<h1> Title: {{post.title}} <br>
     Post Content: {{post.comment}} </h1>

<button id="deleteButton" data-postID ='{{post.id}}' data-userID="{{post.userID}}">DELETE POST</button>
</div>

<script src="/js/deletePost.js"></script>