/* Main Handlebars */
body {
    margin: 0;
    padding: 0;
    font-family: Arial;
    background-color:#bfb68d ;
}

.flex {
    display: flex;
}

#header {
    display: flex;
    background-color: #3f3d2f;
    justify-content: space-between;
    border-bottom: solid black 3px;
    margin-bottom: 1%;
}

#navBarOptions {
    display: flex;
    margin-left: 1%;

}

.navBarOption {
    text-decoration: none;
    color: #e9deac;
    margin-right: 10%;
}

#loginLogout {
    display: flex;
    margin-right: 1%;
    align-items: center;
}

#login {
    text-decoration: none;
    color: #e9deac;
}

#logout {
    background: none;
	border: none;
	padding: 0;
	font: Arial;
    font-size: 150%;
	cursor: pointer;
    height: 60%;
    width: 100px ;
    border-radius: 7%;
    text-decoration: none;
    color: #e9deac;
}

/* Home-page */
#postContainer {
    /* flex-flow: column; */
    align-items: center;
    flex-wrap: wrap;
}

.post {
    border: solid black 4px;
    width: 47%;
    margin: 0.5% 1% 0.5% 1%;
    flex-flow: column;
    color: inherit;
    text-decoration: inherit;
}

.homePostHeader {
    background-color: #15140f;
    color: #e9deac;
    justify-content: space-between;
}

.homePostHeadChild {
    margin: 1.5% 1% 1.5% 1%;
}

.homePostBody {
    padding: 0 1% 0 1%;
    background-color: #3f3d2f;
}


/* Main Dashboard */
#loginPrompt {
    padding-left: 0.5%;
}

#currentUser {
    margin: 0 0 0 1%;
}

#newPostBtn {
    font-size: 80%;
    margin: 1% 1% 1% 1%;
    height: 35px;
    width: 10%;
    border-radius: 2%;
}

/* Dashboard New Post */
#newPostContainer {
    justify-content: center;
}

#newPostForm {
    width: 30%;
    font-size: 150%;
}

.form-input-long {
    font-size: 20px;
    height: 140px;
    width: 100%;
    border-radius: 1%;
    padding-top: 0;
}

#newPostSubmit {
    font-size: 80%;
    margin: 2% 0 2% 0;
    height: 35px;
    width: 100%;
}


/* Login / Signup Page */
#loginSignupContainer {
    justify-content: center;
}

.login-card {
    /* border: solid black 2px; */
    flex-direction: column;
    align-items: center;    
    width: 30%;
    font-size: 200%;
}

.signup-card {
    border: solid black 2px;
    margin-bottom: 1%;
    width: 30%;
}

.form-input {
    font-size: 20px;
    height: 35px;
    width: 100%;
    border-radius: 1%;
}

.loginButton {
    font-size: 80%;
    margin: 2% 0 2% 0;
    height: 35px;
    width: 100%;
}

